---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

type Obra = CollectionEntry<"obras">;

export async function getStaticPaths() {
  const obras = await getCollection("obras");

  return obras
    .filter((obra) => obra.data.status === "published")
    .map((obra) => ({
      params: { slug: obra.data.slug },
      props: { obra },
    }));
}

const { obra } = Astro.props as { obra: Obra };
---

<Layout title={`${obra.data.title} | sbector`}>
  <!-- PRIMERA VISTA -->
  <section
    class="min-h-[calc(100dvh-2.5rem)] flex flex-col lg:flex-row items-center"
  >
    <a
      href="/"
      onclick="if (history.length > 1) { event.preventDefault(); history.back(); }"
      class="fixed left-2 top-12 z-10 gap-2 mb-6 text-sm uppercase tracking-wide text-neutral-400 hover:text-white transition-colors"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-8 h-8"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="1.5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5"></path>
      </svg>
    </a>

    <!-- Imagen -->
    <div class="flex-1 flex items-center justify-center bg-neutral-950 px-1">
      <img
        transition:name={`img-${obra.data.slug}`}
        src={obra.data.media.src}
        alt={obra.data.cover.alt}
        class="max-h-[70dvh] lg:max-h-[85dvh] w-auto object-contain"
        loading="eager"
      />
    </div>

    <!-- Ficha -->
    <div class="w-full lg:w-[420px] flex lg:items-end">
      <div class="px-6 lg:px-10 py-8 lg:pb-16">
        <h1 class="text-xl md:text-2xl lowercase tracking-wide">
          {obra.data.title}
        </h1>

        <p class="mt-2 text-sm text-neutral-400">
          {obra.data.year}
        </p>

        {
          obra.data.description && (
            <p class="mt-4 text-sm text-neutral-300 leading-relaxed max-w-sm">
              {obra.data.description}
            </p>
          )
        }
      </div>
    </div>
  </section>

  <!-- CONTENIDO -->
  {
    obra.body && (
      <section class="max-w-3xl mx-auto px-6 md:px-10 py-24">
        <div class="prose prose-invert max-w-none">{obra.body}</div>
      </section>
    )
  }
</Layout>
